/* google fonts link 
========================== */
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap');

/* common css 
========================== */
body{
    font-family: 'Lora', serif;
}
.border-r{
    border-radius: 20px;
}
.bg-button{
    background-color:#fdd2ee;
}
.bg-popular{
    background-color:#3F87F5;
}
.bg-footer{
    background-color:#070c16;
}